In [4]:
# !pip install numpy
# !pip install pandas
# !pip install matplotlib

Requirement already satisfied: numpy in c:\users\rasoul\anaconda3\lib\site-packages (1.19.2)
Requirement already satisfied: pandas in c:\users\rasoul\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\rasoul\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rasoul\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\rasoul\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\rasoul\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in c:\users\rasoul\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: numpy>=1.15 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\rasoul\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\rasoul\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [6]:
import numpy as np
import pandas as pd

In [12]:
iris_dataset = pd.read_csv('iris.csv')
iris_dataset.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [25]:
# Checking dataset to is null or Not!
print("The size of dataset:",(iris_dataset.shape))
print("\n")
print("Information of dataset:",(iris_dataset.info()))

The size of dataset: (150, 5)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
Information of dataset: None

In [28]:
# Plot pair to visualise attributes with seaborn plotting library
#!pip install seaborn
import seaborn as sb
sb.pairplot(data)